<!DOCTYPE html>
<html lang="en">

<!--自适应屏幕大小-->
<meta name="viewport" content="width=device-width,initial-scale=1" />

<head>
    <meta charset="UTF-8">
    <title>hardware_configs</title>
</head>


<body>
    <h1>The result of parameter </h1>
    <table border='1'>
        <tr>
            <th>name</th>
            <th>front_wide_camera</th>
            <th>front_wide_camera</th>
            <th>error</th>
        </tr>
        <tr>
            <td>yaw</td>
            <td>{{ x1 }}</td>
            <td>{{ y1 }}</td>
            <td>{{ y1 }}</td>
        </tr>
        <tr>
            <td>pitch</td>
            <td>{{ x1 }}</td>
            <td>{{ y1 }}</td>
            <td>{{ y1 }}</td>
        </tr>   
        <tr>
            <td>roll</td>
            <td>{{ x1 }}</td>
            <td>{{ y1 }}</td>
        </tr>               
    </table>
</body>


</html>